:root {
    --darkerGrey : #0b132b;
    --darkGrey : #1c2541;
    --yellow : #d4b52f;
    --green: #509d77;
    --pink : #d97ab5;
    --blue : #45a0ec;
    --purple : #9e87cb;
    --red : #d66f75;
    --grey : #83a1bb;
    --white : #ffffff;
}

header {
    background-color: var(--darkGrey);
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
   
    margin: 20px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

header a {
    font-family: Roboto;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}

* {
    margin: 0;
}


img {
    width: 100px;
}